#!/bin/bash
# THIS FILE IS ADDED FOR COMPATIBILITY PURPOSES
#
# It is highly advisable to create own systemd services or udev rules
# to run scripts during boot instead of using this file.
#
# In contrast to previous versions due to parallel execution during boot
# this script will NOT be run after all other services.
#
# Please note that you must run 'chmod +x /etc/rc.d/rc.local' to ensure
# that this script will be executed during boot.

touch /var/lock/subsys/local

# iptables rule
iptables -t nat -A PREROUTING -p udp -s {{ vip }} -j REDIRECT --source-port {{ vip_port }} --to-ports {{ real_server_port }} -m comment --comment "redirect {{ vip }} port {{ vip_port }} traffic to port {{ real_server_port }}"
