#!/bin/sh

start_services()
{
  /usr/local/sbin/statsrelay -c statsrelay1.conf &
  /usr/local/sbin/statsrelay -c statsrelay2.conf &
  /usr/local/sbin/statsrelay -c statsrelay3.conf &
  /usr/local/sbin/statsrelay -c statsrelay4.conf &
  /usr/local/sbin/statsrelay -c statsrelay5.conf &
}

stop_services()
{
  pkill -f statsrelay1
  pkill -f statsrelay2
  pkill -f statsrelay3
  pkill -f statsrelay4
  pkill -f statsrelay5
}

case "$1" in
'start')
  echo "Starting services"
  start_services
  ;;
'stop')
  echo "Stopping services"
  stop_services
  ;;
'restart')
  echo "Restarting services"
  stop_services
  sleep 2
  start_services
  ;;
esac
