[Unit]
Description = Confluent Connect: Zookeeper
Documentation = http://www.confluent.io
After = network.target remote-fs.target nss-lookup.target
 
[Service]
SyslogIdentifier = confluent-zookeeper
User = root
Type = simple
ExecStart = /usr/bin/zookeeper-server-start /etc/kafka/zookeeper.properties
 
[Install]
WantedBy = multi-user.target confluent-kafka.service
