#!/bin/sh

graphite_mysql_root_password={{ mysql_root_password }}
graphite_mysql_graphite_password={{ mysql_grphite_password }}

## Start mysql
systemctl start mysql@bootstrap

## Run mysql_secure_installation to secure mysql
echo "Run mysql_secure_installation to secure mysql"


SECURE_MYSQL=$(expect -c "
set timeout 10
spawn mysql_secure_installation
expect \"Enter current password for root (enter for none):\"
send \"\r\"
expect \"Change the root password?\"
send \"n\r\"
expect \"Remove anonymous users?\"
send \"y\r\"
expect \"Disallow root login remotely?\"
send \"y\r\"
expect \"Remove test database and access to it?\"
send \"y\r\"
expect \"Reload privilege tables now?\"
send \"y\r\"
expect eof
")

echo "$SECURE_MYSQL"

## Change mysql  root password
echo "Change MYSQL root password"


graphite_mysql_root_password_RESULT=$(expect -c "
set timeout 10
spawn mysql -u root -p
expect \"Enter password:\"
send \"\r\"
expect \"mysql>\"
send \"use mysql\r\"
expect \"mysql>\"
send \"UPDATE user SET Password=PASSWORD(\'$graphite_mysql_root_password\') WHERE User='root';\r\"
expect \"mysql>\"
send \"flush privileges;\r\"
expect eof
")

echo "$graphite_mysql_root_password_RESULT"

##Create graphite user
echo "Create Graphite user"
mysql -e "CREATE DATABASE graphite;" -u root -p$graphite_mysql_root_password
mysql -e "GRANT ALL PRIVILEGES ON graphite.* TO graphite@localhost IDENTIFIED BY \"$graphite_mysql_graphite_password\";" -u root -p$graphite_mysql_root_password
mysql -e 'FLUSH PRIVILEGES;' -u root -p$graphite_mysql_root_password

##Create mysql cluster user
mysql -e "CREATE USER 'sstuser'@'localhost' IDENTIFIED BY 's3cret';" -u root -p$graphite_mysql_root_password
mysql -e "GRANT RELOAD, LOCK TABLES, REPLICATION CLIENT ON *.* TO 'sstuser'@'localhost';" -u root -p$graphite_mysql_root_password
mysql -e "FLUSH PRIVILEGES;" -u root -p$graphite_mysql_root_password

